.AppointmentDeletePage {
	padding-top: 72px;
	display: flex;
}
.AppointmentDeletePage .left-side {
	width: 20%;
	height: auto;
	background-color: #615d5d;
}

.AppointmentDeletePage .left-side label {
	width: 85%;
	display: block;
	background-color: #f5f4f4;
	color: #181717;
	font-size: 20px;
	padding: 12px 15px;
	margin: 5px 0;
	margin: 15px 0;
}

.AppointmentDeletePage .left-side label:nth-child(2) {
	background-color: #817b7b;
}

.AppointmentDeletePage form {
	display: flex;
	width: 570px;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 4px 0 black;
	z-index: 99;
	background-color: #ffffff28;
	margin: 15px 0 70px 120px;
}

.AppointmentDeletePage form h2 {
	text-align: center;
	font-size: 1.9rem;
}

.AppointmentDeletePage .detail:not(.AppointmentDeletePage .choice .detail) {
	margin: 15px 25px;
	padding-top: 15px;
	z-index: 99;
	font-weight: 500;
}

.AppointmentDeletePage
	input:not(.AppointmentDeletePage .choice .radio-button input),
.AppointmentDeletePage textarea {
	padding: 10px;
	border-radius: 5px;
	width: 11.75rem;
	max-width: 300px;
	position: absolute;
	left: 625px;
	border: 1px solid #000000;
	font-size: 14px;
	background-color: #fffffff0;
	font-family: -apple-system;
}

.AppointmentDeletePage .choice {
	display: flex;
	flex-direction: row;
	margin: 15px 0 0 75px;
}

.AppointmentDeletePage .choice .radio-button {
	margin: 15px 45px 15px 30px;
}

.AppointmentDeletePage .choice label {
	margin-left: 15px;
}

.AppointmentDeletePage .choice label.gender-label {
	margin-top: 15px;
	font-weight: 500;
}

.AppointmentDeletePage button {
	width: 150%;
}

.AppointmentDeletePage button[type="submit"]:nth-child(4),
.AppointmentDeletePage button[type="submit"]:nth-child(5) {
	background-color: #ffffff;
	width: 140px;
	height: 36px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 4px 1px #000000;
	margin: 16px 0px;
	font-size: 16px;
}

.AppointmentDeletePage button[type="submit"]:nth-child(5) {
	margin-left: 280px;
}

.AppointmentDeletePage button[type=submit]:nth-child(4):hover, .AppointmentDeletePage button[type=submit]:nth-child(5):hover {
	background-color: #d3d0d0;
	transition: 0.3s ease;
}

.AppointmentDeletePage button[type="submit"]:nth-child(1),
.AppointmentDeletePage button[type="submit"]:nth-child(2) {
	margin-top: 25px;
	padding: 10px 20px;
	background-color: #df880e;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease;
	width: 225px;
	margin-left: 165px;
	font-size: 16px;
}

.AppointmentDeletePage button i {
	margin-right: 15px;
}

.AppointmentDeletePage button[type="submit"]:hover {
	background-color: #c5790e;
	transition: 0.3s ease;
}
