.searchPage {
    display: flex;
}
.left {
    width: 26%;
    height: auto;
    background-color: #000000bb;
    border-left: 2px solid #000000;
    padding-left: 5px;
}

.left h2 {
    margin: 0 0 0 15px;
    padding-top: 25px;
    color: #ffffff;
}

.searchPage .left label {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 18px;
    
}

.searchPage .left .advertisement {
    margin: 25px 10px;
    align-items: center;
    z-index: 99;

}

.searchPage .left .advertisement .add img{
    width:275px;
    height: 105px;
    object-fit: cover;
    border-radius: 5px;
    margin: 16px;
}

.searchPage input:not([type=range]):not([type=checkbox]) {
    position: absolute;
    left: 135px;
    margin-top: 2px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2px;
    border: none;
    height: 18px;
    width: 175px;
}

.language {
    margin-top: 30px;
}
.language select, .guide-type select  {
    position: absolute;
    left: 135px;
    margin-top: 2px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2px;
    border: none;
    height: 26px;
    width: 185px;
}

.feedback {
    margin-top: 30px;
    display: block;
    
}

.feedback input[type=range] {
    display: block;
    text-align: left;
    margin-top: 15px;
    width: 90%;
    margin-left: 18px;
}

.guide-type {
    margin-top: 15px;

}

.available {
    margin-top: 22px;
}

.available {
    display: flex;
    align-items: center;
}

.available input[type="checkbox"] {
    margin-left: 18px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.search-button button {
    margin-top: 35px;
    width: 145px;
    height: 35px;
    /* padding: 15px; */
    border: none;
    border-radius: 5px;
    align-items: center;
    margin-left: 75px;
    font-size: 16px;
    background-color: #df880e;
}

.search-button i {
    font-size: 20px;
    color: #000000;
    margin-left: 35px;
}

.right {
    width: 74%;
}

.right .rating-star {
    font-size: 2rem;
}
  
 .right .rating-star span {
    color: gray;
    cursor: pointer;
}
  
.right .rating-star span.filled {
    color: gold;
}

.right .guide {
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #000000;
    border-radius: 25px;;
    padding: 16px;
    width: 85%;
    margin: 35px;
    margin-left: auto;
}

.right .content {
    flex: 1;
}

.right .content .gd-name{
    margin: 10px;
    font-weight: 550;
}

.right .content p {
    font-size: 15px;
    justify-content: center;
    text-align: justify;
}


.right .guide-details img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 5px;
    margin: 16px;
}
  
  
  




  







