.vehicleCardContainer {
	display: flex;
	flex-wrap: wrap-reverse;
}

.vehicleCardContainer .vehicleCard {
	width: 24rem;
	height: 28rem;
	background-color: #dad9d9c5;
	border-radius: 15px;
	margin: 1.5% 1.8%;
	box-shadow: 2px 2px 16px #dbdada;
	color: #000000;
}

.vehicleCardContainer .vehicleCard .top img {
	width: 24rem;
	height: 18rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.vehicleCardContainer .vehicleCard .bottom {
	margin-top: 15px;
	font-weight: 500;

	text-align: center;
	padding-bottom: 15px;
}

.vehicleCardContainer .vehicleCard .bottom .title {
	font-size: 1.2rem;
	padding: 5px;
}

.vehicleCardContainer .vehicleCard .bottom button {
	width: 92px;
	height: 26px;
	border: none;
	border-radius: 5px;
	background-color: #18affe;
	font-weight: 500;
}
